@media (max-width: 1250px) {
    .card {
        max-width: 480px;
    }
}

@media (max-width: 1120px) {
    .card {
        max-width: 400px;
    }
    .card__img {
        width: 100%;
        height: 100%;
    }
    .footer-row {
        justify-content: space-between;
    }
}

@media (max-width: 940px) {
    .header__title, .header__subtitle {
        padding: 0 20px;
    }
    .card {
        max-width: 540px;
    }
    .portfolio {
        padding: 50px 0 85px;
    }
    .portfolio__title {
        margin-bottom: 40px;
    }
    .footer {
        padding-bottom: 80px;
    }
    .footer-row {
        text-align: center;
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
    }
    .footer-icons-row {
        justify-content: center;
    }
}

@media (max-width: 470px) {
    .header__title {
        font-size: 32px;
    }
    .header__subtitle {
        font-size: 14px;
    }
    .portfolio__title {
        font-size: 32px;
    }
    .card {
        min-width: 290px;
        max-height: 300px;
    }
    .card__img {
        width: 100%;
        height: 100%;
    }
    .card__title {
        font-size: 18px;
    }
    .card p {
        font-size: 14px;
    }
    .footer-copyright-name {
        font-size: 18px;
    }
    .footer-contacts p {
        font-size: 14px;
    }
}

