/*---------- Google Fonts ----------*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*---------- CSS Reset ----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

/*---------- Global Variables ----------*/
:root {
    --mainColor: #9b51e0;
    --bodyBgColor: #101010;
    --boxBgColor: #333333;
    --headingColor: white;
    --textColor: rgba(255, 255, 255, 0.35);
    --border: 2px solid var(--mainColor);
    --boxShadow: 0 0 20px #9b51e05f;
}
body {
    background-color: var(--bodyBgColor);
    color: var(--textColor);
}
h1, h2, h3 {
    color: var(--headingColor);
}

/*---------- Global Classes Start ----------*/
.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    border: var(--border);
    border-radius: 30px;
    padding: 15px 30px 13px 30px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
    z-index: 1;
}
.btn::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: var(--mainColor);
    transition: all 0.3s;
}
.btn:hover::before {
    height: 100%;
    z-index: -1;
}
.padding {
    padding: 120px 5%;
}
/*---------- Global Classes End ----------*/

/*================================================================================*/

/*---------- Header Start ----------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 330px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 50px 30px;
    transition: 0.4s;
    overflow-y: auto;
    z-index: 999;
}
header .dp {
    text-align: center;
    border-bottom: 2px dashed var(--mainColor);
    padding-bottom: 20px;
}
header .dp img {
    width: 130px;
    border-radius: 50%;
    box-shadow: 0 0 100px #9b51e0ad;
}
header .dp h2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
header .dp p {
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    color: lightgray;
    text-transform: uppercase;
}
header nav ul li {
    list-style: none;
    margin: 25px 0;
    padding: 2px 25px;
    border-left: var(--border);
}
header nav ul li a {
    display: inline-block;
    color: var(--textColor);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.4s;
}
header nav ul li a:hover {
    color: var(--mainColor);
}
header nav ul li .active {
    color: var(--mainColor);
}
header .social-icon {
    text-align: center;
    border-top: 2px dashed var(--mainColor);
    padding-top: 20px;
}
header .social-icon a {
    display: inline-block;
    color: var(--mainColor);
    border: var(--border);
    font-size: 17px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    transition: 0.4s;
}
header .social-icon a:hover {
    background-color: var(--mainColor);
    color: var(--headingColor);
}
/*---------- Responsive Menu Button ----------*/
#menuBtn {
   z-index: 1000;
    position: absolute;
    right: 40px;
    top: 40px;
    color: white;
    width: 45px;
    height: 45px;background-color: var(--mainColor);
    text-align: center;
    line-height: 46px;
    font-size: 22px;
    border-radius: 50%;
    box-shadow: 0 0 50px #9b51e09c;
    cursor: pointer;
    display: none;
}
/*---------- Responsive View ----------*/
@media only screen and (max-width: 1100px) {
    #menuBtn {
        display: block;
    }
    header {
        left: -350px;
    }
}
.toggle-header header {
    left: 0;
}
/*---------- Header End ----------*/

/*================================================================================*/

/*---------- Main Section Start ----------*/
main {
    margin-left: 330px;
    transition: 0.3s;
}
@media only screen and (max-width: 1100px) {
    main {
        margin-left: 0;
    }
}
/*---------- Home Section Start ----------*/
#home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/portfolio/hero-bg-blur.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
#home::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 7, 26, 0.9);
    z-index: -1;
}
#home .home-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin-top: 50px;
}
#home .home-row h1 {
    font-size: 75px;
    font-weight: 400;
    text-transform: uppercase;
}
#home .home-row p {
    color: whitesmoke;
    font-size: 45px;
    font-weight: 300;
    text-transform: uppercase;
}
#home .home-row .buttons {
    margin-top: 20px;
}
#home .home-row .buttons a {
    font-size: 18px;
    border: 3px solid var(--mainColor);
}
#home .home-row i {
    color: white;
    font-size: 40px;
}
/*---------- Responsive View ----------*/
@media only screen and (max-width: 700px) {
    #home {
        height: auto;
    }
    #home .home-row h1 {
        font-size: 60px;
    }
    #home .home-row p {
        font-size: 35px;
        height: 80px;
    }
    #home .home-row .buttons {
        margin-top: 0;
    }
}
/*---------- Home Section End ----------*/

/*---------- About Section Start ----------*/
.sub-title {
    color: var(--mainColor);
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    padding-left: 70px;
    margin-bottom: 20px;
}
.sub-title::before {
    position: absolute;
    content: "";
    left: 0;
    top: 40%;
    width: 65px;
    height: 1px;
    background-color: var(--mainColor);
}
.title {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 45px;
    text-transform: capitalize;
}
.sub-para {
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}
#about .about-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
#about .about-row .img-col {
    flex-basis: 40%;
    position: relative;
}
#about .about-row .img-col::before {
    position: absolute;
    content: "";
    bottom: -40px;
    left: -50px;
    width: 100%;
    height: 95%;
    background-color: #9b51e044;
    border-radius: 10px;
    z-index: -1;
}
#about .about-row .img-col img {
    width: 100%;
    border-radius: 10px;
    box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.2);
}
#about .about-row .info-col {
    flex-basis: 55%;
}
#about .about-row .info-col .skills {
    margin-top: 45px;
    width: 100%;
}
#about .about-row .info-col .skills .skill-box {
    margin-bottom: 30px;
}
#about .about-row .info-col .skills .skill-box .skill-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
#about .about-row .info-col .skills .skill-box .skill-info h4 {
    color: var(--headingColor);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}
#about .about-row .info-col .skills .skill-box .outer-bar{
    width: 100%;
    height: 7px;
    background-color: var(--boxBgColor);
    border-radius: 5px;
}
#about .about-row .info-col .skills .skill-box .outer-bar .inner-bar{
    background-color: var(--mainColor);
    height: 7px;
    border-radius: 5px;
    width: 0;
    transition: 2s;
}
/*---------- Responsive View ----------*/
@media only screen and (max-width: 800px) {
    #about .about-row {
        flex-direction: column;
        gap: 80px;
    }
    #about .about-row .img-col {
        width: 50%;
        margin-top: 30px;
    }
}
@media only screen and (max-width: 500px) {
    #about .about-row .img-col {
        width: 80%;
        margin-top: 30px;
        text-align: center;
    }
    #about .about-row .img-col::before {
        bottom: -20px;
        left: -20px;
    }
}
/*---------- About Section End ----------*/

/*---------- Experience Section Start ----------*/
.exp .exp-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.exp .exp-row .exp-box {
 background-color: var(--boxBgColor);
    border-radius: 10px;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.exp .exp-row .exp-box i {
    width: 45px;
    height: 45px;
    background-color: var(--mainColor);
    border-radius: 50%;
    text-align: center;
    color: white;
    line-height: 45px;
    font-size: 20px;
    margin-bottom: 7px;
    position: relative;
}
.exp .exp-row .exp-box i:after {
    content: '';
    position: absolute;
    right: -80px;
    top: 45%;
    width: 70px;
    height: 1px;
    background-color: var(--mainColor);
}
.exp .exp-row .exp-box h2 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: whitesmoke;
    margin-right: 120px;
}
/*---------- Responsive View ----------*/
@media only screen and (max-width: 1350px) {
    .exp .exp-row .exp-box h2 {
        margin-right: 0;
    }
}
@media only screen and (max-width: 630px) {
    .exp .exp-row {
        grid-template-columns: 1fr;
    }
    .exp .exp-row .exp-box h2 {
        margin-right: 50px;
    }
}
@media only screen and (max-width: 470px) {
    .exp .exp-row .exp-box h2 {
        margin-right: 0;
    }
}

/*---------- Experience Section End ----------*/



/*---------- Main Section End ----------*/

/*================================================================================*/






