@media (min-width: 2500px) {
    .wrapper {
        max-width: 5000px;
        padding: 0 30px;
    }

    .header__wrapper {
        padding: 50px 0;
    }

    .nav {
        max-width: 2500px;
    }

    .portfolio__list {
        gap: 50px 20px;
    }

}