@media (min-width: 2500px) {
    .wrapper {
        max-width: 5000px;
        padding: 0 30px;
    }

    .header__wrapper {
        padding: 50px 0;
    }

    .nav {
        max-width: 2500px;
    }

    .portfolio__list {
        gap: 50px 20px;
    }
}

@media (max-width: 1200px) {
    .about__photo {
        max-width: 400px;
        max-height: 400px;
    }

    .portfolio__list {
        margin: 0 10px;
    }
}

@media (max-width: 980px) {
    .header {
        background-image: url(Source/bg_masthead_mobile.png);
    }

    .nav {
        font-size: 14px;
    }

    .about__photo {
        max-width: 400px;
        max-height: 400px;
    }

    .portfolio__list {
        margin: 0 10px;
    }
}

@media (max-width: 900px) {
    .nav {
        display: none;
    }

    .certificates__block {
        padding: 40px 10px;
    }
}

@media (max-width: 500px) {
    .about__title {
        padding: 0 10px;

    }

    .portfolio__link {
        display: block;
        max-width: 350px;
        max-height: 200px;
    }

    .portfolio__link::before {
        max-width: 350px;
        max-height: 200px;
    }

    .portfolio__link img {
        display: block;
        max-width: 350px;
        max-height: 200px;
    }

    /* .social__link {
        font-size: 40px;
    } */
}

@media (max-width: 450px) {
    .about__photo {
        max-width: 300px;
        max-height: 300px;
    }

    .portfolio__item-title {
        font-size: 16px;
    }
}