@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;500;700&family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@700&display=swap');

@font-face {
    font-family: 'SF Pro Display';
    src: url(../fonts/SFPro-light/SFProDisplay-Light.eot);
    src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
        url(../fonts/SFPro-light/SFProDisplay-Light.eot) format('embedded-opentype'),
        url(../fonts/SFPro-light/SFProDisplay-Light.woff2) format('woff2'),
        url(../fonts/SFPro-light/SFProDisplay-Light.woff) format('woff'),
        url(../fonts/SFPro-light/SFProDisplay-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(../fonts/SFPro-bold/SFProDisplay-Bold.eot);
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
        url(../fonts/SFPro-bold/SFProDisplay-Bold.eot) format('embedded-opentype'),
        url(../fonts/SFPro-bold/SFProDisplay-Bold.woff2) format('woff2'),
        url(../fonts/SFPro-bold/SFProDisplay-Bold.woff) format('woff'),
        url(../fonts/SFPro-bold/SFProDisplay-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
 /* ---------------------- font family ---------------------- */
 --ff-Merriweather: 'Merriweather', sans-serif;
 --ff-Montserrat: 'Montserrat', sans-serif;
 --ff-OpenSans: 'Open Sans', sans-serif;
 --ff-Raleway: 'Raleway', sans-serif;
 --ff-SF: 'SF Pro Display', sans-serif;

 /* ---------------------- color ---------------------- */
 --color-yellow: #FCBB08;
 --color-white: #ffffff;
 --color-grey: #373A39;
 --color-black-grey: #333333;
 --color-light-grey: #777777;
 --color-black-grey-title: #242121;

 /* ---------------------- background ---------------------- */
 --bg-grey-lt: #F6F8FA;
}

/* ---------------- start common styles ---------------- */

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-SF);
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-grey);
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.title {
    text-transform: capitalize;
    font-family: var(--ff-Montserrat);
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -1.65px;
    padding-bottom: 15px;
    color: var(--color-black-grey-title);
    background-image: url(../img/Rectangle.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto;
}

.nav {
    font-family: var(--ff-Raleway);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.6px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    display: block;
    padding: 0 5px;
    margin: 0 20px;
    height: 25px;
    color: var(--color-grey);
    text-transform: uppercase;
}

.link:hover {
    border-bottom: 2px solid var(--color-yellow);
}

/* ---------------- end common styles ---------------- */

/* ---------------- start header ---------------- */

.header {
    background-image: url("../img/header-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.header__wrapper {
    background-color: var(--color-white);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__nav nav {
    position: absolute;
    right: 100px;
}

.logo {
    font-family: var(--ff-Montserrat);
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 44px;
    color: var(--color-black-grey);
}

.logo::after {
    content: url(../img/icon/logo.svg);
    position: relative;
    transform: rotate(-40deg);
    top: -23px;
    left: -15px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: calc(100vh - 84px);
    font-family: var(--ff-Montserrat);
}

.banner__title {
    font-weight: 500;
    font-size: 72px;
    line-height: 88px;
    color: var(--color-white);
}

.banner span {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.7px;
    color: var(--color-yellow);
}

.banner__scroll {
    position: absolute;
    bottom: 60px;
}

/* ---------------- end header ---------------- */

/* ---------------- start section about ---------------- */

.about {
    background-color: var(--bg-grey-lt);
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 152px 0 159px 0;
}

.about__article {
    max-width: 770px;
}

.about__article p:not(:last-child) {
    padding-bottom: 10px;
}

/* ---------------- end section about ---------------- */

/* ---------------- start section expertise ---------------- */

.expertise {
    padding: 143px 135px 50px;
}

.expertise__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 90px 0 100px;
}

.skill-item {
    display: block;
}

.skill-item:not(:last-child) {
    margin-bottom: 28px;
}

.expertise__article {
    margin-left: 30px;
    position: relative;
    top: -10px;
}

.expertise__article p:not(:last-child) {
    margin-bottom: 25px;
}

/* ---------------- end section expertise ---------------- */

/* ---------------- start section services ---------------- */

.services__wrapper {
    padding-bottom: 164px;
    display: flex;
    justify-content: space-between;
}

.services__item {
    display: flex;
    align-items:flex-start;
}

.services__item:not(:last-child) {
    margin-right: 27px;
}

.services__img {
    margin-right: 35px;
}

.services__item-title {
    letter-spacing: 4.29px;
    font-weight: 700;
    padding-bottom: 18px;
}

.services__item-article {
    color: var(--color-light-grey);
}

/* ---------------- end section services ---------------- */

/* ---------------- start section vision ---------------- */

.vision {
    background-color: var(--bg-grey-lt);
    display: flex;
    justify-content: center;
}

.vision__img {
    width: 50%;
    max-height: 840px;
    object-fit: cover;
}

.vision__wrapper {
    width: 50%;
}

.vision__text {
    padding: 101px 0 180px 130px;
    max-width: 560px;
}

.vision__text-title {
    text-transform: none;
    margin-bottom: 57px;
}

.vision__article p:not(:last-child) {
    margin-bottom: 25px;
}

/* ---------------- end section vision ---------------- */

/* ---------------- start section portfolio ---------------- */

.portfolio__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 139px 0 130px 0;
}

.portfolio__gallery {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, calc(25% - 18px));
    grid-template-rows: 288px 30px 46px 130px 106px 300px;
    grid-gap: 23px;
    grid-template-areas:
    "hand clothes cups monitor"
    "hand shoes cups monitor"
    "hand shoes cups banana"
    "hand shoes dog banana"
    "glasses shoes dog banana"
    "glasses palm dog banana";
    padding-bottom: 70px;
}

.portfolio__gallery-more {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(343px, 1fr));
    grid-auto-rows: 288px;
    grid-auto-flow: dense;
    grid-gap: 23px;
    /*grid-template-areas:*/
    /*"hand clothes cups monitor"*/
    /*"hand shoes cups monitor"*/
    /*"hand shoes cups banana"*/
    /*"hand shoes dog banana"*/
    /*"glasses shoes dog banana"*/
    /*"glasses palm dog banana";*/
    /*padding-bottom: 70px;*/
}

.portfolio__gallery a,
.portfolio__gallery-more {
    display: block;
    position: relative;
    z-index: 1;
}

.portfolio__gallery a:hover::after,
.portfolio__gallery-more a:hover::after{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: 'show project';
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: 600;
    background: #4C4949;
    border: 12px solid #7C7A7A;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.portfolio__gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hand {
    grid-area: hand;
}

.glasses {
    grid-area: glasses;
}

.clothes {
    grid-area: clothes;
}

.shoes {
    grid-area: shoes;
}

.palm {
    grid-area: palm;
}

.cups {
    grid-area: cups;
}

.dog {
    grid-area: dog;
}

.monitor {
    grid-area: monitor;
}

.banana {
    grid-area: banana;
}

.portfolio__more {
    background-color: var(--bg-grey-lt);
    text-align: center;
    padding: 50px 0;
}

.portfolio__link {
    color: var(--color-black-grey-title);
    text-transform: uppercase;
    padding: 5px;
}

.portfolio__link:hover {
    border-bottom: 2px solid var(--color-yellow);


}

#box {
    display: none;
}

/* ---------------- end section portfolio ---------------- */

/* ---------------- start section quote ---------------- */

.quote {
    max-width: 650px;
    padding: 130px 0 148px 0;
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
    line-height: 36px;
    text-align: center;
}

.blockquote p:first-child {
    font-size: 18px;
    color: #242121;
}

.blockquote p:last-child {
    color: #9E9E9E;
    font-size: 14px;
    padding-top: 50px;
}

/* ---------------- end section quote ---------------- */

/* ---------------- start section video ---------------- */

.video {
    position: relative;
    height: 330px;
    width: 100%;
    background-color: #00195b;
}

.video__item {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ---------------- end section video ---------------- */











.none {
    display: none;
}



