@media (max-width: 1180px) {
    .important__list {
        gap: 30px 20px;
    }
    .important__item-img {
        width: 100%;
    }
}

@media (max-width: 1040px) {
    .video__content {
        width: 100%;
    }
}

@media (max-width: 860px) {
    .menu__btn {
        display: flex;
    }
    .menu__btn,
    .logo {
        position: relative;
        z-index: 10;
    }
    .menu__list {
        position: absolute;
        z-index: 5;
        background-color: #151515;
        flex-direction: column;
        padding-top: 200px;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        justify-content: start;
        transform: translateY(-100%);
        transition: transform .3s ease;
    }
    .menu__list.menu__list--active {
        transform: translateY(0%);
    }
    .why-lease__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .important__list {
        grid-template-columns: repeat(2, 1fr);
    }
}