@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rosario:wght@700&display=swap');
/* font-family: 'DM Sans', sans-serif;
font-family: 'Rosario', sans-serif; */

:root {
    /* ---------------------- font family ---------------------- */
    --ff-DmSans: 'DM Sans', sans-serif;
    --ff-Rosario: 'Rosario', sans-serif;

    /* ---------------------- color ---------------------- */
    --color-primary: #222222;
    --color-secondary: #555555;
    --color-black: #000000;
    --color-white: #ffffff;
    --btn-border: #ccc;

    /* ---------------------- backgroun ---------------------- */
    --bg-mint-cream: #F3FBF8;
    --bg-green-lt: #09A66D;
    --bg-white: #ffffff;
    --bg-green-lt-op: #09a66d0d;
}

/* ---------------------- default style ---------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.btn {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}

.inner-title {
    font-family: var(--ff-Rosario);
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
}

.inner-text {
    line-height: 30px;
    color: var(--color-secondary);
}

/* ---------------------- main style ---------------------- */
body {
    font-family: var(--ff-DmSans);
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: var(--color-primary);
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.link-bg--green {
    background: var(--bg-green-lt);
    color: var(--color-white);
}

.header {
    padding: 50px 0 43px 0;
    /* background-color: aquamarine; */

}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

.menu-link {
    line-height: 24px;
}

.header-logo {
    display: block;
    width: 57px;
}

.header-block {
    display: flex;
    align-items: center;
}

.form {
    display: flex;
    align-items: center;
}

.search {
    width: 0;
}

.header-btn {
    width: 40px;
    height: 40px;
    background-color: var(--bg-mint-cream);
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.cart {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 32px 0 28px;
    background-color: var(--bg-mint-cream);
    background-image: url(../img/cart.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.cart::after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 7.75px;
    left: 20.62px;
    background-color: var(--bg-green-lt);
    border-radius: 50%;
}

.header-link {
    width: 160px;
    padding: 10px 0;
    line-height: 20px;
    text-align: center;
    border-radius: 8px;
}

/* ---------------------- End header -------------------- */

/* ---------------------- Start hero -------------------- */
.hero {
   background-color: var(--bg-mint-cream);
}

.hero-inner-wrapper {
    background-image: url(../img/fresh-melientha.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding: 93px 0 33px 0;

}

.hero-title {
    text-align: center;
    margin-bottom: 20px;
}

.hero-text {
    text-align: center;
    max-width: 637px;
    margin: 0 auto 59px auto;

}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-img {
    position: relative;
    width: 863px;
}

.link {
    padding: 10px 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px;
    transition: 0.3s linear;
}

.link:hover {
    /* box-shadow: inset 0px 0px 10px 0px #0000006f; */
    box-shadow: inset 0px 0px 10px 0px #0283316f;
}

.hero-link {
    position: absolute;
    top: -28px;
    right: 20%;
    width: 176px;
    height: 74px;
    
}

.link::after {
    content: '';
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--bg-green-lt);
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    top: 0;
}

.hero-list {
    width: 250px;
}

.hero-item {
    padding: 17px 33px 17px 113px;
    font-size: 48px;
    line-height: 48px;
    color: var(--color-black);
}

.hero-item:not(:last-child) {
    margin-bottom: 30px;
}

.hero-item span {
    display: block;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.users {
    background-color: var(--bg-white);
    background-image: url(../img/users.svg);
    background-repeat: no-repeat;
    background-position: left 33px center;
}

.reviews {
    background-color: var(--bg-white);
    background-image: url(../img/reviews.svg);
    background-repeat: no-repeat;
    background-position: left 33px center;
}

.items {
    background-color: var(--bg-white);
    background-image: url(../img/items.svg);
    background-repeat: no-repeat;
    background-position: left 33px center;
}

/* ---------------------- End hero ---------------------- */

/* ---------------------- Start service ---------------------- */

.service {
    padding: 141px 0 166px 0;
}

.service-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}

.service-content {
    width: 671px;
    padding-bottom: 32px;
    position: relative;
}

.service-title {
    margin-bottom: 20px;
}

.service-text {
    margin-bottom: 16px;
}

.service-item {
    width: 500px;
    background: var(--bg-white);
    position: relative;
    padding: 40px 59px 40px 163px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.5s linear;
}

.service-item:hover {
    background: var(--bg-mint-cream);
}

.service-item::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: var(--bg-mint-cream);
    top: 50%;
    left: 59px;
    transform: translateY(-50%);
    transition: 0.5s linear;
}

.service-item:hover::before {
    background: var(--bg-white);
}

.icon-delivery {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/delivery.svg) no-repeat center;
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
}

.icon-order {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/order.svg) no-repeat center;
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
}

.icon-time {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/fast.svg) no-repeat center;
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
}

.service-item__title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 8px;
}

.service-item__text {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-primary);
}

.service-link {
    display: block;
    position: absolute;
    width: 15px;
    height: 34px;
    background: url(../img/arrow-down.svg) no-repeat center;
    bottom: 0;
    left: 35%;
    animation: move 2s linear infinite;
}

.service-img {
    width: 569px;
    height: 569px;
    display: flex;
    justify-content: center;
    padding-top: 31px;
    background-image: url(../img/elips-fruit.png), url(../img/Ellipse-bg.png);
    background-repeat: no-repeat;
    background-position: bottom 76px center, right 0 center;
    background-size: 398px, contain;
}

.service-img figure {
    width: 354px;
    animation: moveImg 2s linear infinite;
}

@keyframes move {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 10px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes moveImg {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* ---------------------- End service ---------------------- */

/* ---------------------- Start vegetables ----------------- */

.vegetables {
    background: var(--bg-green-lt-op);
}

.vegetables-inner-wrapper {
    padding: 89px 0 143px 0;
    background-image: url(../img/fresh-melientha.png);
    background-repeat: no-repeat;
    background-position: right 50px bottom;
    background-size: auto;
}

.vegetables-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.vegetable-img {
    width: 600px;
}

.vegetables-content {
    width: 574px;
    padding-top: 30px;
}

.vegetables-text {
    margin: 20px 0 40px 0;
}

.vegetables-link {
    width: 179px;
    height: 74px;
}

/* ---------------------- End vegetables ----------------- */

/* ---------------------- Start customers ----------------- */

.customers {
    padding: 96px 0 150px 0;
}

.customer-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.customer-content {
    width: 640px;
    padding-bottom: 34px;
}

.customer-text {
    width: 586px;
    margin: 30px 0 40px 0;
}

.customer-name {
    font-size: 30px;
    line-height: 36px;
    display: block;
    margin-bottom: 20px;
}

.customer-starts {
    display: flex;
    gap: 9px;
}

.customer-img {
    width: 450px;
    height: 450px;
    /* border-radius: 50%;
    background: var(--bg-mint-cream); */
}

.slider-btn {
    width: 56px;
    height: 56px;
    background: var(--bg-white);
    border: 1px solid var(--btn-border);
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    z-index: 2;
}

.slider-prev {
    left: 27%;
}

.slider-prev::before {
    content: "";
    display: block;
    width: 12px;
    height: 18px;
    background: url(../img/vector-left.svg) no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-prev.active {
    background: var(--bg-green-lt);
    border: 1px solid var(--bg-green-lt);
}

.slider-prev.active::before {
    content: "";
    background: url(../img/vector-left-active.svg) no-repeat center;
}

.slider-next {
    left: 34%;
}

.slider-next::before {
    content: "";
    display: block;
    width: 12px;
    height: 18px;
    background: url(../img/vector-right.svg) no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-next.active {
    background: var(--bg-green-lt);
    border: 1px solid var(--bg-green-lt);
}

.slider-next.active::before {
    content: "";
    background: url(../img/vector-right-active.svg) no-repeat center;
}

.customer-man {
    width: 450px;
    height: 450px;
    position: relative;
    top: 30px;
    border-radius: 50%;
    background-color: var(--bg-mint-cream);
}

.customer-woman {
    width: 450px;
    height: 450px;
    position: relative;
    top: 60px;
    border-radius: 50%;
    background-color: var(--bg-mint-cream);
}

/* ---------------------- End customers ----------------- */

/* ---------------------- Start app ----------------- */

.app {
    padding-bottom: 140px;
}

.app-wrapper {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.app-img {
    width: 265px;
    animation: moveImg 2s linear infinite;
}

.app-content {
    width: 663px;
}

.app-subtitle {
    display: block;
    width: 170px;
    padding: 11px 0;
    text-align: center;
}

.inner-title {
}
.inner-text {
}
.app-text {
}
.app-block {
}
.app-link {
}
.app-store {
}
.google-play {
}

/* ---------------------- End app ----------------- */







