@media (max-width: 1250px) {
    .header__fixed {
        padding: 50px 10px 43px 10px;
    }

    .hero-inner-wrapper {
        padding: 93px 10px 33px 10px;
        background-size: auto;
    }

    .service {
        padding: 141px 10px 166px 10px;
    }

    .wrapper.vegetables-inner-wrapper {
        padding: 89px 10px 143px 10px;
    }

    .inner-text {
       text-align: justify;
    }

    .customers {
        padding: 96px 20px 150px 20px;
    }

    .customer-wrapper {
        flex-wrap: nowrap;
    }

    .footer {
        padding: 67px 20px 118px 20px;
    }
}

@media (max-width: 980px) {
    .hero-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .hero-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex: 1;
        gap: 10px;
    }

    .hero-item:not(:last-child) {
        margin-bottom: 0px;
    }

    .hero-img {
        width: 100%;
    }

    .customer-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .customer-text {
        width: 100%;
        text-align: justify;
    }

    .slider-btn {
        bottom: 500px;
    }

    .slider-prev {
        left: 50%;
    }

    .slider-next {
        left: 60%;
    }

    .app-wrapper {
        padding: 0 20px;
        flex-direction: column;
        gap: 30px;
    }

    .app-content {
        width: 100%;
        padding: 0 20px;
    }

    .app-text {
        width: 100%;
        text-align: justify;
        margin: 20px 0px 50px 0px;
    }

    .footer-text {
        width: 100%;
    }
     
}
   
@media (max-width: 850px) {
    .nav {
        position: absolute;
        z-index: 2;
        background: var(--bg-white);
        left: -50%;
        right: 100%;
        top: 120px;
        bottom: 0;
        height: 100vh;
        overflow-x: hidden;
        border-top: 1px solid var(--btn-border);
        transition: 0.3s linear;
    }

    .nav.active {
        right: 0;
        left: 0;
    }

    .menu {
        flex-direction: column;
        padding: 30px;
        gap: 30px;
    }

    .burger {
        display: block;
        width: 60px;
        height: 40px;
        background: url(../img/burger.svg) no-repeat center;
        transform: rotate(0deg);
        transition: 0.3s linear;
    }

    .burger.active {
        background: url(../img/close.svg) no-repeat center;
        transform: rotate(180deg);
    }
}

@media (max-width: 768px) {
    .header-logo {
        width: 45px;
    }

    .header-link {
        display: none;
    }

    .cart {
        margin: 0 5px 0 28px;
    }

    .service-content {
        width: 100%;
    }

    .service-item {
        margin: 0 auto 20px;
    }

    .wrapper.vegetables-inner-wrapper {
        background-size: 50%;
    }

    .customer-text {
        width: 100%;
    }

    .slider-btn {
        bottom: 480px;
    }

    .slider-prev {
        left: 50%;
    }

    .slider-next {
        left: 65%;
    }
}

@media (max-width: 590px ) {
    .service-wrapper {
        gap: 50px;
    }

    .service-img {
        width: 100%;
        height: 100%;
        background-image: url(../img/elips-fruit.png);
        background-position: bottom 0px center;
        background-size: auto;
    }

    .slider-btn {
        bottom: 510px;
    }

    .slider-prev {
        left: 55%;
    }

    .slider-next {
        left: 70%;
    }

    .footer-wrapper {
        justify-content: space-around;
        gap: 45px;
    }
 
    .footer-logo {
        margin: 0 auto 20px;
    }

    .footer-title {
        margin-bottom: 20px;
    }

    .footer-social {
        justify-content: center;
    }
}

@media (max-width: 450px ) {
    .form {
        display: none;
    }

    .cart {
        margin: 0 5px 0 0px;
    }

    .hero-title {
        font-size: 50px;
        line-height: 70px;
    }

    .service-item {
        padding: 40px 20px 40px 20px;
    }

    .service-item span:first-child,
    .service-item::before {
        display: none;
    }

    .inner-title {
        font-size: 45px;
        line-height: 60px;
        text-align: center;
    }

    .service-img {
        background-size: 100%;
    }

    .slider-btn {
        bottom: 420px;
    }

    .slider-prev {
        left: 65%;
    }

    .slider-next {
        left: 85%;
    }
}
 
   
    
