@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');

/* --------- start zeroing styles --------- */

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::before, *::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited, a:hover {text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

/* --------- end zeroing styles --------- */

:root {
    /* ---------------------- font family ---------------------- */
    --ff-Rubik: 'Rubik', sans-serif;
    --ff-Raleway: 'Raleway', sans-serif;

    /* ---------------------- color ---------------------- */
    --color-primary: #616161;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-blue: #4285F4;
    --color-coral: #EC5863;

    /* ---------------------- backgroun ---------------------- */
    --bg-coral: #EC5863;
    --bg-blue: #4285F4;
    --bg-white: #ffffff;
    --bg-blue-lt: #FAFBFD;
}

.btn {
    font-family: var(--ff-Raleway);
    text-transform: uppercase;
    letter-spacing: 0.14em;
    padding: 16px 30px;
    color: var(--color-white);
    border-radius: 5px;
}

.btn:hover {
    transform: translateY(1px);
}

.inner-title {
    font-family: var(--ff-Rubik);
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: var(--color-black);
}

.inner-text {
    font-family: var(--ff-Rubik);
    color: var(--color-primary);
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.08em;
    
}

/* ----------- Start header ----------- */

.header, .banner{
    background: var(--bg-blue-lt);
}

.container {
    max-width: 990px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    font-family: var(--ff-Rubik);
    margin-right: 80px;
}

.logo span {
    color: var(--color-coral);
}

.nav {
    font-family: var(--ff-Raleway);
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em; 
    text-transform: uppercase;
}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    display: block;
    color: var(--color-black);
}

.nav-link:hover {
    color: var(--color-coral);
}

.nav-link:active {
    transform: translateY(1px);
}

.header-btn {
    background-color: var(--bg-blue);
}

.header-btn:active {
    box-shadow: inset 5px 5px 20px rgb(3, 57, 251);
}

/* ----------- End header ----------- */

/* ----------- Start banner ----------- */

.banner-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}

.banner-content {
    align-self: center;
}

.banner-title span {
    color: var(--color-blue);
}

.banner-text {
    width: 375px;
    height: 36px;
    margin: 12px 0 24px 0;
}

.banner-btn {
    background-color: var(--bg-coral);
}

.banner-btn:active {
    box-shadow: inset 5px 5px 20px rgb(251, 3, 82);
}

.video-wrapper {
    display: flex;
    padding-top: 38px;
    padding-bottom: 48px;
}

.video-link img{
    border-radius: 50%;
}

.video-link img:hover {
    box-shadow: inset 5px 5px 20px rgb(3, 57, 251);
}

.video-text {
    padding-left: 12px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.08em;
    color: #B0B0B0;
    margin-top: 5px;
}

.video-text span {
    display: block;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.165em;
    text-transform: uppercase;
    color: var(--color-black);
    margin-top: 5px;
}

/* .banner-rectangle {
    position: absolute;
    min-width: 295.29px;
    height: 700px;
    right: 23%;
    top: 0px;
    background: var(--bg-coral);
    border-radius: 30px 0px 0px 30px;
} */

/* ----------- End banner ----------- */

/* ----------- Start daily ----------- */

.daily {
    display: flex;
    align-items: center;
    padding-top: 79px;
    padding-bottom: 79px;
}

.daily-img {
    padding-left: 25px;
    padding-right: 149px;
}

.daily-title span {
    color: var(--color-coral);
}

.daily-text {
    margin: 12px 0 24px 0;
    width: 363px;
}

/* ----------- End daily ----------- */





